@charset "UTF-8";

@media screen and (min-width: 992px) {
    :root {
        --cor01: #49a09d;
        --cor02: #94CFCD;
        --cor03: #5f2c82;
    }

    * {
        margin: 0px;
        padding: 0px;
    }

    body {
        width: 100vw;
        height: 100vh;
        background-color: var(--cor03);
    }
    
    

    #login {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        border-radius: 10px;
        width: 950px;
        height: 350px;
        margin: auto;
        background-color: white;
    }

    #global {
        display: flex;
        height: 100%;
    }

    #imagem img{
        width: 475px;
        height: 100%;
        border-radius: 10px 0px 0px 10px;
    }

    #formulario {
        width: 100%;
        margin-top: 0px;
    }

    #formulario h1 {
        font-family: sans-serif;
        font-weight: bolder;
        font-size: 1.9em;
        padding: 10px;
        text-align: center;
    }

    #formulario p {
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
        word-spacing: 5px;
        margin: 0px 2px 10px 3px;
        padding: 5px;
    }

    #formulario {
        width: 100%;
        display: block;
        margin-top: 10px;
    }

    form input:active {
        background-color: white;
    }

    div.info {
        width: 95%;
        background-color: #602c82;
        margin: auto;
        margin-bottom: 10px;
        padding: 12px -1px 0px 10px;
        border-radius: 10px;
    }
    
    form input {
        width: 60%;
        padding: 10px 135px 10px 10px;
        border-radius: 10px;
        background-color: var(--cor02);
        /* -20px 0px 0px 0px black; */
    }

    form input::placeholder {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.1em;
    }


    form label#email::after {
        content: '👤';
    }

    form label#senha::after {
    content: '🔑';
    }
}